* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: 12px 'Open Sans', sans-serif;
    color: #212121;
    background: #86B332;
    overflow-x: hidden;
}

.logo_sidebar {
    height: 150px;
    margin: 40px;
}

.logo_horizontalnav {
    height: 100px;
}



.Horizontal_navbar {
    height: 90px;
    width: 100%;
    background-color: #213315;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    position: fixed;
    opacity: .9;
    top: 0;

}

.navigation_element {
    color: white;
    font-size: 18px;
    margin: 15px;
    font-family: Arial;

}

h1 {
    margin-top: 70px;
    font-size: 50px;
}

.headline_a_div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;

}

.headline_a {
    font-size: 40px;


}

.headline_b {
    font-size: 40px;
    margin: 70px 0 20px 0;
    font-family: sylfaen;
    border-bottom: 1px solid black;
}

.headline_c {
    font-size: 20px;
    padding: 50px 0 30px 0;
    font-family: sylfaen;
}
.headline_d {
    font-size: 16px;
    padding: 1px 4px 1px 2px;
    font-family: sylfaen;
    background-color: #548235;
    color: #C7DEC3;
    margin-top: 30px;}

.table {

    padding: 5px;
   width: 150px;


}

.table_left  {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    width: 150px;
    font-weight: bold;

}
.table_container
{
    display: flex;
    justify-content: center;
    margin: 50px auto 20px auto;
}

.picture
{
    width: 100%;
}
.picture_container
{
    margin-bottom: 20px;
}
.paragraph_end {
    margin-bottom: 30px;
}

.Magazine_text {
    font-size: 18px;
    font-family: Sylfaen;
    line-height: 1.4;

}
.small_magazine_text {
    font-size: 16px;
    font-family: Sylfaen;
    line-height: 1.2;
    display: flex;
    text-align: justify;



}

.top_margin
{
    margin-top: 70px;
}

.Line {
    margin: 5px 15px 20px 0;
    height: 2px;
    background-color: #212121;
    border: none;

}

.link {
    text-decoration: none;
}

.sidebar_container {
    display: flex;
    min-height: 100%;
    position: fixed;
    top: 0;
}

.dropwn {
    overflow: hidden;
}


.dropdown-content: hover {
    float: none;
    display: block;
    background-color: white;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

}


.navigation_element:hover .dropdown-content {
    display: block;

}

.dropbtn {
    background-color: #213315;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;

}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 30px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #548235;
    font-size: 10px;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;

}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #385723;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #548235;
    border-bottom: #213315 solid 1px;
    border-bottom: 4px solid white;

}

input[data-function*='swipe'] {
    position: absolute;
    opacity: 0;
}

label[data-function*='swipe'] {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    display: block;
    width: 42px;
    height: 42px;
    font: 42px fontawesome;
    text-align: center;
    color: #213315;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    transition: transform .3s;
}

label[data-function*='swipe']:hover {
    color: #213315;
}

input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
    transform: translate3d(280px, 0, 0);
}

label[data-function*='swipe']:checked {
    display: block;
}

label:nth-child(2) {
    display: none;
}



input[data-function*='swipe']:checked ~ .headings {
    transform: translate3d(280px, 0px, 0px);
}

input[data-function*='swipe']:checked ~ .sidebar {
    transform: translate3d(0px, 0px, 0px);
}

input[data-function*='swipe']:checked ~ .sidebar .menu li {
    width: 100%;
}

.sidebar {
    transform: translate3d(-280px, 0px, 0px);
    position: absolute;
    width: 280px;
    background: #213315;
    color: #eee;
    left: 0;
    height: 100%;
    transition: all 0.3s;
    text-align: center;
    display: flex;

}

.under_line {
    border-bottom: 4px solid white;
}

.menu li {
    padding: 10px;
    list-style: none;
    width: 0%;

}

.menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    display: block;
    text-decoration: none;
    padding: 5px 0px 5px 0;
    margin: 0 20px;
}


.logo_position_forhorizontal {
    left: 50px;
    top: -11px;
    position: absolute;

}

.all_navigations {
    margin-right: 50px;
}



.main_area {
    width: 90%;
    margin: 0 auto;
}

.menupoint_text {
    font-size: 15px;
}

.breadcrumb {

    float: right;
    margin-right: 65px;
    font-size: 15px;
    color: black;
    margin-top: 10px;


}

.breadcrumb_link {
    text-decoration: none;
    color: black;

}
.horizontal_footer
{
    height: 150px;
    width: 100%;
    background-color: #213315;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.socialmedia
{
    color: white;
    width: 30px;
    height: 30px;
    margin: auto 20px auto 20px;
}

/*For Desktop*/
@media only screen and (min-width:680px) {
    .sidebar_container {
        display: none;
    }

    .logo_sidebar {
        height: 150px;
        margin: 40px;
    }

    .Line {
        margin-bottom: 80px;
        width: 100%;
        height: 2px;
        border: none;
        margin-left: 0;

    }

    .main_area {
        padding-right: 34%;
    }

    .headline_a_div {
        margin-top: 150px;
        justify-content: flex-start;
        margin-left: 70px;

    }
    .headline_b {
    margin-top: 150px;
}

    .headline_a {
        font-size: 70px;
    }

    .breadcrumb {
      position: fixed;
        right: 60px;
        top: 105px;
        z-index: -1;
        float: none;
        margin: 0;
    }

    .horizontal_footer
{
    height: 150px;
    width: 100%;
    background-color: #213315;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .top_margin
{
    margin-top: 150px;
}
}

/*For mobile*/
@media only screen and (max-width:680px) {
    .Horizontal_navbar {
        display: none;
    }

}
