.prices_container {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.contact_container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_container_c {
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

.prices_table {

    padding: 5px;
    width: 50px;
}

.headline_c_2 {

    font-size: 30px;
    padding: 50px 0 30px 0;
    font-family: sylfaen;
}

.contact_table {

    padding: 5px;
    width: 50px;


}

.contact_table_left {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    width: 100px;
    font-weight: bold;

}

.appointment_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.button:hover {
    background-color: #548235;
    border: 2px solid black;
}

.button {
    background-color: #548235;
    width: 250px;
    height: 40px;
    margin-top: 15px;
    padding: 5px;
    font-size: 23px;
    border: none;
    color: white;
}

.options {
    background-color: #548235;
}

.optionsselect:hover {
    color: #2E471D;
}

.appointment {
    background-color: #548235;
    width: 250px;
    height: 40px;
    margin: 1px;
    padding: 5px;
    font-size: 23px;
    border: none;
    color: white;
}

::placeholder {
    color: white;
}

.select {
    background-color: #2E471D;
    width: 250px;
    height: 40px;
    margin: 1px;
    padding: 5px;
    font-size: 23px;
    border: none;
}

.wrapper_container {
    margin: 0 auto 0 auto;

}

.aboutus_article {
    columns: 400px;
    margin: 15px 15px 55px 15px;
}

/*For Desktop*/
@media only screen and (min-width:680px) {
    .prices_container {
        margin-top: 100px;
        margin-bottom: 100px;

    }

    .appointment_container {

        margin-bottom: 150px;

    }

}

/*For mobile*/
@media only screen and (max-width:680px) {}
