.terrariums {
    width: 80%;


}

.terrarium_content {

    display: flex;
    justify-content: flex-end;
}


.small_picture {
    height: 200px;


}

.pic_title {
    margin-bottom: 20px;
}



/*For Desktop*/
@media only screen and (min-width:680px) {

    .small_picture {
        margin-top: 3px;
        float: right;
    }

}

