.terrariums
{
    width: 80%;


}
.terrarium_content
{

    display: flex;
    justify-content: flex-end;




}

/*For Desktop*/
@media only screen and (min-width:680px) {


}

/*For mobile*/
@media only screen and (max-width:680px) {


}
